{% extends "base.html" %}
{% block title%} Title goes here {% endblock %}
{% block head %}
<script defer src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
{% block body %}
<div class="app">
    <form class="search" onsubmit="event.preventDefault()">
        <div class="text">
            <input required type="text" name="from" id="from" placeholder="from.." oninput="textChanged(event)">
            <p class="hidden-hint" id="from-hint"></p>
            <input required type="text" name="to" id="to" placeholder="to.." oninput="textChanged(event)">
            <p class="hidden-hint" id="to-hint"></p>
            <input required type="number" name="hour" id="hour" min="0" max="24" placeholder="hour e.g. 19">
        </div>
        <input type="submit" value="Go" id="go" onclick="searchButtonClick()">
    </form>
    <div class="content">
    </div>
</div>
{% endblock %}